

html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}


.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(193, 218, 209);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(203, 209, 209);
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(144, 228, 228);
    min-height: 150px;
}

.content {
    background-color: rgb(144, 228, 228);
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(203, 209, 209);
    display: flex;
    justify-content: center;
}

iframe {
    margin-right: 0;
    padding-right: 0;
}